.header {
    text-align: center;
  }


  .outer{

    display: flex;
  }
  
  .left{
    background-color: aqua;
    
  }

/*   
    .te1 {border:0;outline:0;}
.te1:focus {outline:none!important;}
    */

  

  .right{
    background-color: red;
    height:100%;
    width:100%;
    overflow:hidden; 
    
  }
  .giga{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* margin-top: 10px; */
    justify-content: center
    
  }

  .up{
    background-color: blue;
    height: 20pc;
    content: centre;
  }

  .sidecontent{
size: 100px;

  }


  .down{
    background-color: yellow;
    height:30pc;
  }



/* CSS */
.button-26 {
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.15;
  overflow: visible;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60px;
  height: 39px;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}